.status {
    margin-bottom: 20px;
	border-top: 1px solid #D8E4E6;
	border-bottom: 1px solid #D8E4E6;
    display:table-cell;
    vertical-align:middle;
}

.available {
	font-size: 3vw;
	letter-spacing: 2px;
    text-transform: uppercase;
    color: #4775d1;    
    margin-top: 20px;
    line-height: 90%;
    transform: scale(1, 1.5);
    -webkit-transform: scale(1.1, 1.8); /* Safari and Chrome */
    -moz-transform: scale(1.1, 1.8); /* Firefox */
    -ms-transform: scale(1, 1.7); /* IE 9+ */
    -o-transform: scale(1, 1.7); /* Opera */
}

.background{
    width: 100%; 
    height: 100%;
    opacity: 1;
    transform: scale(1, 1);
    -webkit-transform: scale(0.87, 0.87); /* Safari and Chrome */
    -moz-transform: scale(0.87, 0.87); /* Firefox */
    -ms-transform: scale(0.87, 0.87); /* IE 9+ */
    -o-transform: scale(0.87, 0.87); /* Opera */    
    background:url(../../assets/images/b-w.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px; 
    margin:0px;
}

/* Extra small devices (portrait phones, less than 576px)*/
/* No media query since this is the default in Bootstrap*/
.undertext{
    position: relative;
    width: 70vw;
    height: 305vw;
    overflow-x: visible;
    left: 5vw;
    top: 3vw;
    background:rgba(37, 53, 83,0.4);
}
.decoration{
    position: absolute;
    left: -4vw; 
    top: -1.2vw;    
    width: 6vw;
    height: 6vw;
    border-radius: 50px;
    background-color: #a1ff26;
}
.medecoration{
    position: absolute;
    left: -1vw; 
    top: -2.7vw;    
    width: 1.2vw;
    height: 6vw;
    background-color:white;
}
.mystory{
    text-align: justify; 
    font-size: 15px;
    color:white; 
    font-weight:bold; 
    margin-top: 3vw;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .undertext{
        position: relative;
        width: 87vw;
        height: 90vw;
        overflow-x: visible;
        left: 5vw;
        top: 3vw;
        background:rgba(37, 53, 83,0.4);
    }
    .decoration{
        position: absolute;
        left: -4vw; 
        top: -1.2vw;    
        width: 6vw;
        height: 6vw;
        border-radius: 50px;
        background-color: #a1ff26;
    }
    .medecoration{
        position: absolute;
        left: -1vw; 
        top: -2.7vw;    
        width: 1.2vw;
        height: 6vw;
        background-color:white;
    }
    .mystory{
        text-align: justify; 
        font-size: 17px;
        color:white; 
        font-weight:bold; 
        margin-top: 3vw;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .undertext{
        position: relative;        
        width: 54vw;
        height: 70vw;
        overflow-x: visible;
        left: 5vw;
        top: 3vw;
        background:rgba(37, 53, 83,0.4);
    }
    .decoration{
        position: absolute;
        left: -5vw; 
        top: -1vw;    
        width: 6vw;
        height: 6vw;
        border-radius: 50px;
        background-color: #a1ff26;
    }
    .medecoration{
        position: absolute;
        left: -2vw; 
        top: -2.7vw;    
        width: 1vw;
        height: 6vw;
        background-color:white;
    }
    .mystory{
        text-align: justify; 
        font-size: 15px;
        color:white; 
        font-weight:bold; 
        margin-top: 3vw;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .undertext{
        position: relative;
        width: 58vw;
        height: 73vw;
        overflow-x: visible;
        left: 5vw;
        top: 3vw;
        background:rgba(37, 53, 83,0.4);
    }
    .decoration{
        position: absolute;
        left: -5vw; 
        top: -1vw;    
        width: 6vw;
        height: 6vw;
        border-radius: 50px;
        background-color: #a1ff26;
    }
    .medecoration{
        position: absolute;
        left: -2.3vw; 
        top: -2.7vw;    
        width: 1.3vw;
        height: 6vw;
        background-color:white;
    }
    .mystory{
        text-align: justify; 
        font-size: 18px;
        color:white; 
        font-weight:bold; 
        margin-top: 3vw;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .undertext{
        position: relative;
        width: 78vw;
        height: 50vw;
        overflow-x: visible;
        left: 5vw;
        top: 3vw;
        background:rgba(37, 53, 83,0.4);
    }
    .decoration{
        position: absolute;
        left: -5vw; 
        top: -1vw;    
        width: 5vw;
        height: 5vw;
        border-radius: 50px;
        background-color: #a1ff26;
    }
    .medecoration{
        position: absolute;
        left: -2.8vw; 
        top: -2.7vw;    
        width: 1vw;
        height: 6vw;
        background-color:white;
    }
    .mystory{
        text-align: justify; 
        font-size: 20px;
        color:white; 
        font-weight:bold; 
        margin-top: 3vw;
    }
 }
 @media (min-width: 1500px) { 
    .undertext{
        position: relative;
        width: 78vw;
        height: 40vw;
        overflow-x: visible;
        left: 5vw;
        top: 3vw;
        background:rgba(37, 53, 83,0.4);
    }
    .decoration{
        position: absolute;
        left: -5vw; 
        top: -1vw;    
        width: 5vw;
        height: 5vw;
        border-radius: 50px;
        background-color: #a1ff26;
    }
    .medecoration{
        position: absolute;
        left: -2.8vw; 
        top: -2.7vw;    
        width: 1vw;
        height: 6vw;
        background-color:white;
    }
    .mystory{
        text-align: justify; 
        font-size: 21px;
        color:white; 
        font-weight:bold; 
        margin-top: 3vw;
    }

 }

 /* Extra large devices (large desktops, 1500px and up)*/
@media (min-width: 1650px) { 
    .undertext{
        position: relative;
        width: 78vw;
        height: 37vw;
        overflow-x: visible;
        left: 5vw;
        top: 3vw;
        background:rgba(37, 53, 83,0.4);
    }
    .decoration{
        position: absolute;
        left: -5vw; 
        top: -1vw;    
        width: 5vw;
        height: 5vw;
        border-radius: 50px;
        background-color: #a1ff26;
    }
    .medecoration{
        position: absolute;
        left: -2.8vw; 
        top: -2.7vw;    
        width: 1vw;
        height: 6vw;
        background-color:white;
    }
    .mystory{
        text-align: justify; 
        font-size: 23px;
        color:white; 
        font-weight:bold; 
        margin-top: 3vw;
    }
 }

 .flip:hover {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    
    @-webkit-keyframes flip {
    0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    }
    @keyframes flip {
    0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    } 