.status {
    margin-bottom: 20px;
	border-top: 1px solid #D8E4E6;
	border-bottom: 1px solid #D8E4E6;
    display:table-cell;
    vertical-align:middle;
}

.available {
	font-size: 3vw;
	letter-spacing: 2px;
    text-transform: uppercase;
    color: #4775d1;    
    margin-top: 20px;
    line-height: 90%;
    transform: scale(1, 1.5);
    -webkit-transform: scale(1.1, 1.8); /* Safari and Chrome */
    -moz-transform: scale(1.1, 1.8); /* Firefox */
    -ms-transform: scale(1, 1.7); /* IE 9+ */
    -o-transform: scale(1, 1.7); /* Opera */
}

.background{
    width:100%; 
    background:url(../../assets/images/vintage.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px; 
    margin:0px;
}
