<div class="background">
    <div class="row">
        <div class="col-sm-5 col-md-6 col-lg-4 status">
                <img class="img-responsive" src='../assets/images/news.png' alt="news">
        </div>
        <div class="col-sm-7 col-md-6 col-lg-4 available">
               <b>I’m Available!</b>
        </div>
        <div class="col-lg-3">      
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-sm-10 col-md-8 col-lg-6" style="text-align: justify; font-size: 18px;">
            I studied electronics, microprocessor (PLD) and PLC programming. I worked in controls for years but the programming part,
            communicating on the network, make sure the packets are OK and logic behind it is what I really loved.
            <br> That taught me logic and to think out of the box to find solutions to problems. Sometimes even creating
            my own personalised solution to the problem.
            <br> I always kept my programs tidy with relevant comments to quickly maintain it afterwards.
            <br>
            <br> I started with Turbo Pascal and after a brief affair with Visual Basic y moved in to C#.
            <br>C# was interesting but the Web kept calling. I eventually listen and I got hooked into Javascript and now
            AngularJS.
            <br>I always enjoyed working on a team and learning new skills and new ways to work.
            <br> I would describe myself as a continued learner that it not happy with only a basic knowledge but strives
            to get better.
        </div>
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
    </div>
</div>