<div class="container">
  <h1 class="text-center mytitle">Portfolio</h1>
  <p class="undertitle">A look to some of my current projects</p>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 portfolio-item">
      <a href="#" data-toggle="modal" data-target="#portfolioModal7">
        <div class="caption pulse">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-responsive" src='../assets/images/maps.png' alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 portfolio-item">
      <a href="#" data-toggle="modal" data-target="#portfolioModal8">
        <div class="caption pulse">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-responsive" src='../assets/images/ebooks.png' alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 portfolio-item">
      <a href="#" data-toggle="modal" data-target="#portfolioModal9">
        <div class="caption pulse">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-responsive" src='../assets/images/arcade.png' alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 portfolio-item">
      <a href="#" data-toggle="modal" data-target="#portfolioModal10">
        <div class="caption pulse">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-responsive" src='../assets/images/testing.png' alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 portfolio-item">
      <a href="#" data-toggle="modal" data-target="#portfolioModal11">
        <div class="caption pulse">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-responsive" src='../assets/images/memory.png' alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 portfolio-item">
      <a href="#" data-toggle="modal" data-target="#portfolioModal1">
        <div class="caption pulse">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-responsive" src='../assets/images/web-1-256.png' alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 portfolio-item">
      <a href="#" data-toggle="modal" data-target="#portfolioModal2">
        <div class="caption pulse">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-responsive" src='../assets/images/web-2-256.png' alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 portfolio-item">
      <a href="#" data-toggle="modal" data-target="#portfolioModal3">
        <div class="caption pulse">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-responsive" src='../assets/images/web-6-256.png' alt="">
      </a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 portfolio-item">
      <a href="#" data-toggle="modal" data-target="#portfolioModal4">
        <div class="caption pulse">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-responsive" src='../assets/images/web-4-256.png' alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 portfolio-item">
      <a href="#" data-toggle="modal" data-target="#portfolioModal5">
        <div class="caption pulse">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-responsive" src='../assets/images/web-5-256.png' alt="">
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 portfolio-item">
      <a href="#" data-toggle="modal" data-target="#portfolioModal6">
        <div class="caption pulse">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-responsive" src='../assets/images/web-3-256.png' alt="">
      </a>
    </div>
  </div>

  <!--Modal -->
  <div class="modal fade" tabindex="-1" id="portfolioModal7" role="dialog">
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="lr">
            <div class="rl"></div>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times fa-3x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <h1>Neighborhood-map - ReactJS</h1>
          <hr class="star-primary">
          <img class="img-responsive img-centered" src='..\assets\images\maps.png' alt="" style="display:inline-block">
          <p>Designed and developed an interactive full-page map that loads with popular locations near North London. Integrated
            Foursquare API to show pictures and reviews of the best locations loaded in the map (retrieved by AJAX requests).
            Identified the best accessibility practices and implemented a mobile-first approach to improve usability.</p>
          <ul class="list-inline item-details">
            <li>Link:
              <strong>
                <a target="_blank" href="https://github.com/Ofineo/neighborhood-map">GitHub</a>
              </strong>
            </li>
            <li>Date:
              <strong>
                <a href="#">March 2018</a>
              </strong>
            </li>
            <li>Service:
              <strong>
                <a href="#">Web Development. Front end</a>
              </strong>
            </li>
          </ul>
          <button class="btn btn-success btn-lg" type="button" data-dismiss="modal">
            <i class="fa fa-times"></i>
            Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" id="portfolioModal8" role="dialog">
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="lr">
            <div class="rl"></div>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times fa-3x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <h1>MyReads: A Book Lending App - ReactJS</h1>
          <hr class="star-primary">
          <img class="img-responsive img-centered" src='..\assets\images\ebooks.png' alt="" style="display:inline-block">
          <p>ReacJS responsive web application that fetches through an API a list of books and allows users to select and categorize
            books into a virtual bookshelf. It uses React-router to display different pages as a SPA application.</p>
          <ul class="list-inline item-details">
            <li>Link:
              <strong>
                <a target="_blank" href="https://github.com/Ofineo/myreads">GitHub</a>
              </strong>
            </li>
            <li>Date:
              <strong>
                <a href="#">February 2018</a>
              </strong>
            </li>
            <li>Service:
              <strong>
                <a href="#">Web Development. Front end</a>
              </strong>
            </li>
          </ul>
          <button class="btn btn-success btn-lg" type="button" data-dismiss="modal">
            <i class="fa fa-times"></i>
            Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" id="portfolioModal9" role="dialog">
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="lr">
            <div class="rl"></div>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times fa-3x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <h1>Classic Arcade Game Clone - JS</h1>
          <hr class="star-primary">
          <img class="img-responsive img-centered" src='..\assets\images\arcade.png' alt="" style="display:inline-block">
          <p>An HTML5 Canvas powered video game. Developed the game, upon a given game engine, using the best ES6 practices
            in Object Oriented JavaScript.</p>
          <ul class="list-inline item-details">
            <li>Link:
              <strong>
                <a target="_blank" href="https://github.com/Ofineo/Udacity-JS-Frogger">GitHub</a>
              </strong>
            </li>
            <li>Date:
              <strong>
                <a href="#">December 2017</a>
              </strong>
            </li>
            <li>Service:
              <strong>
                <a href="#">Web Development. Front end</a>
              </strong>
            </li>
          </ul>
          <button class="btn btn-success btn-lg" type="button" data-dismiss="modal">
            <i class="fa fa-times"></i>
            Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" id="portfolioModal10" role="dialog">
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="lr">
            <div class="rl"></div>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times fa-3x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <h1>Feed Reader Testing -JS</h1>
          <hr class="star-primary">
          <img class="img-responsive img-centered" src='..\assets\images\testing.png' alt="" style="display:inline-block">
          <p>Given an RSS Feed Reader application that uses Google's RSS API, implemented customized sets of tests to prove
            the application functionality (business logic as well as event handling and DOM manipulation). Improved documentation
            to explain all complicated code throughout the project.</p>
          <ul class="list-inline item-details">
            <li>Link:
              <strong>
                <a target="_blank" href="https://github.com/Ofineo/JS-testing">GitHub</a>
              </strong>
            </li>
            <li>Date:
              <strong>
                <a href="#">January 2018</a>
              </strong>
            </li>
            <li>Service:
              <strong>
                <a href="#">Web Development. Front end</a>
              </strong>
            </li>
          </ul>
          <button class="btn btn-success btn-lg" type="button" data-dismiss="modal">
            <i class="fa fa-times"></i>
            Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" id="portfolioModal11" role="dialog">
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="lr">
            <div class="rl"></div>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times fa-3x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <h1>Memory Game - JS</h1>
          <hr class="star-primary">
          <img class="img-responsive img-centered" src='..\assets\images\memory.png' alt="" style="display:inline-block">
          <p>Built a browser-based card matching game (also known as Concentration). Used jQuery to manipulating the DOM and
            Font awesome for icons. CSS3 cool animations upon match or error. You will want to play again and again.</p>
          <ul class="list-inline item-details">
            <li>Link:
              <strong>
                <a target="_blank" href="https://github.com/Ofineo/memory-game">GitHub</a>
              </strong>
            </li>
            <li>Date:
              <strong>
                <a href="#">January 2018</a>
              </strong>
            </li>
            <li>Service:
              <strong>
                <a href="#">Web Development. Front end</a>
              </strong>
            </li>
          </ul>
          <button class="btn btn-success btn-lg" type="button" data-dismiss="modal">
            <i class="fa fa-times"></i>
            Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" id="portfolioModal1" role="dialog">
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="lr">
            <div class="rl"></div>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times fa-3x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <h1>Inventory</h1>
          <hr class="star-primary">
          <img class="img-responsive img-centered" src='..\assets\images\web-1-256.png' alt="" style="display:inline-block">
          <p>Angular 2 application. It's an inventory that shows also a product detail page for the products. The starting files
            where created with the Angular CLI and to practice everything else was done manually.</p>
          <ul class="list-inline item-details">
            <li>Link:
              <strong>
                <a target="_blank" href="https://github.com/Ofineo/inventory">GitHub</a>
              </strong>
            </li>
            <li>Date:
              <strong>
                <a href="#">June 2017</a>
              </strong>
            </li>
            <li>Service:
              <strong>
                <a href="#">Web Development. Front end</a>
              </strong>
            </li>
          </ul>
          <button class="btn btn-success btn-lg" type="button" data-dismiss="modal">
            <i class="fa fa-times"></i>
            Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade " tabindex="-1" id="portfolioModal2" role="dialog">
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="lr">
            <div class="rl"></div>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times fa-3x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <h1>Blog and store with Admin area</h1>
          <hr class="star-primary">
          <img class="img-responsive img-centered" src='../assets/images/web-2-256.png' alt="" style="display:inline-block">
          <p>Angular 2 application. This is a store where you select and view a detail page of any item. There a Admin area
            that requires login to create and update the products. Login and database are hosted in Firebase. The starting
            files where created with the Angular CLI and to practice everything else was done manually. </p>
          <ul class="list-inline item-details">
            <li>Link:
              <strong>
                <a target="_blank" href="https://github.com/Ofineo/Blog-and-Store-Project">GitHub</a>
              </strong>
            </li>
            <li>Date:
              <strong>
                <a href="#">July 2017</a>
              </strong>
            </li>
            <li>Service:
              <strong>
                <a href="#">Web Development</a>
              </strong>
            </li>
          </ul>
          <button class="btn btn-success btn-lg" type="button" data-dismiss="modal">
            <i class="fa fa-times"></i>
            Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade " tabindex="-1" id="portfolioModal3" role="dialog">
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="lr">
            <div class="rl"></div>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times fa-3x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <h1>Angular 1.4 Service</h1>
          <hr class="star-primary">
          <img class="img-responsive img-centered" src='../assets/images/web-6-256.png' alt="" style="display:inline-block">
          <p>Angular 1.4 application to use the Github API and return a list of users depending on which programming language
            is selected. It can drill down and show the public details of a selected user</p>
          <ul class="list-inline item-details">
            <li>Link:
              <strong>
                <a target="_blank" href="https://github.com/Ofineo/Angular-1.3-http-service-with-Github-API">GitHub</a>
              </strong>
            </li>
            <li>Date:
              <strong>
                <a href="#">January 2017</a>
              </strong>
            </li>
            <li>Service:
              <strong>
                <a href="#">Web Development</a>
              </strong>
            </li>
          </ul>
          <button class="btn btn-success btn-lg" type="button" data-dismiss="modal">
            <i class="fa fa-times"></i>
            Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade " tabindex="-1" id="portfolioModal4" role="dialog">
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="lr">
            <div class="rl"></div>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times fa-3x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <h1>World trip map with stops</h1>
          <hr class="star-primary">
          <img class="img-responsive img-centered" src='../assets/images/web-4-256.png' alt="" style="display:inline-block">
          <p>ASP.NET project with Angular as front end. From a database in the server it takes the destinations and times and
            overlays them in a google map. Can add and remove destinations</p>
          <ul class="list-inline item-details">
            <li>Link:
              <strong>
                <a target="_blank" href="https://github.com/Ofineo/myWorldTrip">GitHub</a>
              </strong>
            </li>
            <li>Date:
              <strong>
                <a href="#">April 2017</a>
              </strong>
            </li>
            <li>Service:
              <strong>
                <a href="#">Web Development</a>
              </strong>
            </li>
          </ul>
          <button class="btn btn-success btn-lg" type="button" data-dismiss="modal">
            <i class="fa fa-times"></i>
            Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade " tabindex="-1" id="portfolioModal5" role="dialog">
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="lr">
            <div class="rl"></div>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times fa-3x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <h1>Tree view control</h1>
          <hr class="star-primary">
          <img class="img-responsive img-centered" src='../assets/images/web-5-256.png' alt="" style="display:inline-block">
          <p>Angular 1.5 simple tree view control application. shows 2 tree views side by side that take the structure from
            JSON files. Can move items from one tree to the other updating the JSON files.</p>
          <ul class="list-inline item-details">
            <li>Link:
              <strong>
                <a target="_blank" href="https://github.com/Ofineo/Angular2-tree-view-control">GitHub</a>
              </strong>
            </li>
            <li>Date:
              <strong>
                <a href="#">August 2017</a>
              </strong>
            </li>
            <li>Service:
              <strong>
                <a href="#">Web Development</a>
              </strong>
            </li>
          </ul>
          <button class="btn btn-success btn-lg" type="button" data-dismiss="modal">
            <i class="fa fa-times"></i>
            Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade " tabindex="-1" id="portfolioModal6" role="dialog">
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="lr">
            <div class="rl"></div>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times fa-3x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <h1>Web Resume</h1>
          <hr class="star-primary">
          <img class="img-responsive img-centered" src='../assets/images/web-3-256.png' alt="" style="display:inline-block">
          <p>Angular 4 aplication created with Angular CLI. From the ground up Webpage hosted in Firebase.</p>
          <ul class="list-inline item-details">
            <li>Link:
              <strong>
                <a target="_blank" href="#">GitHub</a>
              </strong>
            </li>
            <li>Date:
              <strong>
                <a href="#">August 2017</a>
              </strong>
            </li>
            <li>Service:
              <strong>
                <a href="#">Web Development</a>
              </strong>
            </li>
          </ul>
          <button class="btn btn-success btn-lg" type="button" data-dismiss="modal">
            <i class="fa fa-times"></i>
            Close</button>
        </div>
      </div>
    </div>
  </div>
</div>