<!-- Fixed navbar -->

<nav class="navbar navbar-fixed-top ">
  <div class="container-fluid ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Home</a>
        </li>
        <!--<li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Project 1</a></li>
            <li><a href="#">Project 2</a></li>
            <li><a href="#">Project 3</a></li>
          </ul>
        </li>-->
        <li>
          <a [routerLink]="['/dashboard']">Skills</a>
        </li>
        <li>
          <a [routerLink]="['/experience']">Portfolio</a>
        </li>
        <li>
          <a [routerLink]="['/about-me']">About Me</a>
        </li>
      </ul>
      <!--<ul class="nav navbar-nav pull-right">
        <li><a href="#">Link</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
      </ul>-->
    </div>
  </div>
</nav>
<!--/.nav-collapse -->


<nav class="container-fluid text-center">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
      <div id="sidebar" class="nav nav-stacked affix">
        <!--<div class="container-fluid">
          <img class="img-responsive" id="userpic" src='../assets/images/Foto-2.JPG' alt="Jordi">
        </div>-->
        <ul class="list-unstyled">
          <br>
          <li>
            <h2 style="text-transform: uppercase;">{{name}}</h2>
          </li>
          <p class="bar"></p>
          <li>
            <h3>{{jobDescription}}</h3>
          </li>
          <li>
            <h2>
              <i class="fa fa-map-marker fa-2x hatch" aria-hidden="true"></i>
            </h2>
          </li>
          <li>
            <h4>
              {{location}}</h4>
          </li>
          <br>
          <br>
          <hr>
          <p id="description">
            I have always been passionate about programming. I started applications on C# but what I enjoyed the most was the XAML part
            of it. That is how I decided to go into front-end web applications development. I love building attractive and
            responsive applications and progressively keep improving them to make them outstanding.
          </p>

          <hr>
          <span>
            <a style="color:inherit;" target="blank" href="https://www.facebook.com/jordi.melendez">
              <i class="fa fa-facebook-official fa-3x faa-tada animated-hover" aria-hidden="true"></i>
            </a>
            <a style="color:inherit;" target="blank" href="http://v.imgins.com/ofineo">
              <i class="fa fa-instagram fa-3x faa-tada animated-hover" aria-hidden="true"></i>
            </a>
            <a style="color:inherit;" target="blank" href="https://twitter.com/ofineo">
              <i class="fa fa-twitter-square fa-3x faa-tada animated-hover" aria-hidden="true"></i>
            </a>
            <a style="color:inherit;" href="mailto:ofineo@gmail.com?Subject=Web%20CV%20Contact" target="_top">
              <i class="fa fa-envelope-o fa-3x faa-tada animated-hover" aria-hidden="true"></i>
            </a>
            <a style="color:inherit;" target="blank" href="https://github.com/Ofineo">
              <i class="fa fa-github fa-3x faa-tada animated-hover" aria-hidden="true"></i>
            </a>
          </span>
          <hr>
          <span>
            <a style="color:inherit;" href="javascript:if(window.print)window.print()">
              <i class="fa fa-print fa-3x faa-horizontal animated-hover" aria-hidden="true"></i>
            </a>
            <i class="fa fa-download fa-3x faa-horizontal animated-hover" aria-hidden="true"></i>
          </span>
        </ul>
      </div>
    </div>
    <!-- Sidebar end -->

    <div class="container-stacked col-xs-12 col-sm-8 col-md-8 col-lg-10">
      <div class="jumbotron">

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</nav>

<footer class="container-fluid text-center">
  <img src="../favicon.ico" alt="Ofineo" style="display:inline-block; padding:10px; height:55px;">
  <b>DEVELOPED BY JORDI MELENDEZ &copy;</b>
</footer>