
.carousel-inner img {
  margin: auto;
  height: 500px;
}

#sidebar{
  background-color: #4775d1;
  border-top: 1px rgba(0,0,0,.5) solid;
  overflow-y: auto;       
  overflow-x: hidden;
  padding-bottom: 40px;
  margin-top: 80px;
  border-radius: 0px;
  height: 100%;
}

#sidebar.affix {
  position: static;
  width: auto;
  top: 0;
}

hr{
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  border-top: 1px solid #234590;
}


.fa-map-marker{
  padding-right: 10px;
  position: relative;
  bottom: 3px;
}
.location:hover{
  transform: scale(1.1);  
  color: #207693;
  cursor: pointer;
}

#userpic {
  float: none;
  margin:20px;
  width: 250px;
  height: 180px;  
  border-radius: 25px 70px 25px 70px;
  border: 5px solid #234590; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron{
  margin-top: 80px;
  margin-bottom: 20px;
  height: 85vh;  
  overflow-y: scroll;
  padding: 2em;
}

.navbar-fixed-top {
  background-color: #4775d1;
  border-radius: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;  
}
.navbar-fixed-top .navbar-brand {
  color: #000000;
}
.navbar-fixed-top .navbar-brand:hover,
.navbar-fixed-top .navbar-brand:focus {
  color: #ffffff;
}
.navbar-fixed-top .navbar-text {
  color: #000000;
}
.navbar-fixed-top .navbar-nav > li > a {
  color: #000000;
}
.navbar-fixed-top .navbar-nav > li > a:hover,
.navbar-fixed-top .navbar-nav > li > a:focus {
  color: #4775d1;
}
.navbar-fixed-top .navbar-nav > li > .dropdown-menu {
  background-color: #4775d1;
}
.navbar-fixed-top .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
}
.navbar-fixed-top .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-fixed-top .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #7194da;
}
.navbar-fixed-top .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #7194da;
}
.navbar-fixed-top .navbar-nav .open .dropdown-menu > .active > a,
.navbar-fixed-top .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-fixed-top .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #7194da;
}
.navbar-fixed-top .navbar-nav > .active > a,
.navbar-fixed-top .navbar-nav > .active > a:hover,
.navbar-fixed-top .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #7194da;
}
.navbar-fixed-top .navbar-nav > .open > a,
.navbar-fixed-top .navbar-nav > .open > a:hover,
.navbar-fixed-top .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #7194da;
}
.navbar-fixed-top .navbar-toggle {
  border-color: #7194da;
}
.navbar-fixed-top .navbar-toggle:hover,
.navbar-fixed-top .navbar-toggle:focus {
  background-color: #7194da;
}
.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-top .navbar-form {
  border-color: #000000;
}
.navbar-fixed-top .navbar-link {
  color: #000000;
}
.navbar-fixed-top .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #7194da;
  }
}
footer {
  display: block;
  position: relative;
  background-color: #4775d1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding-right: 10px;
  width: 100%;
  height: 60px;
  color: black;
  clear:both;
  margin-bottom: 5px; 
}