td{
    padding-left: 20px;
    color: #1f3d7a;
  }

  span{
      left: 50px;
      padding-left: 20px;    
  }
      
  td span:hover{
    display: inline-block;
    padding-left: 12px;
    transform: scale(1.5);
    color: gold;
    cursor: pointer;
  }