<div class="row-fluid" style="text-align:left; display:block; vertical-align:middle;">
    <div class="col-sm-12 col-md-6">
    <table class="table table-hover">
        <thead>
            <th class="col-md-1 col-lg-3">Design</th>
            <th class="col-md-2 col-lg-2"></th>
        </thead>
        <tbody>
            <tr>
                <td><img src="../assets/images/Photoshop_min.png" alt="Photoshop" title="Photoshop" > Photoshop</td>
                <td>
                    <ai-star [rating]='3.5'></ai-star>
                </td>
                          
            </tr>
            <tr>
                <td><img src="../assets/images/Illustrator_min.png" alt="illustrator" title="illustrator" >Illustrator</td>
                <td>
                    <ai-star [rating]='3.5'></ai-star>
                </td>
            
            </tr>
            <tr>
                <td><img src="../assets/images/Web design_min.png" alt="Web Design" title="Web Design" >Web Design</td>
                <td>
                    <ai-star [rating]='3.5'></ai-star>
                </td>
            
            </tr>
        </tbody>
    </table>
    </div>
    <div class="col-sm-12 col-md-6">
            <table class="table table-hover">
                    <thead>                        
                        <th class="col-md-1 col-lg-3">Programming</th>
                        <th class="col-md-2 col-lg-2"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../assets/images/HTML_min.png" alt="HTML" title="HTML" >HTML</td>
                            <td>
                                <ai-star [rating]='3.5'></ai-star>
                            </td>  
                        </tr>
                        <tr>
                            <td><img src="../assets/images/CSS3_min.png" alt="CSS" title="CSS" >CSS</td>
                            <td>
                                <ai-star [rating]='3'></ai-star>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="../assets/images/javascript_min.png" alt="Javascript" title="Javascript" >Javascript</td>
                            <td>
                                <ai-star [rating]='3.5'></ai-star>
                            </td>
                        </tr>
                    
            <tr>              
                <td><img src="../assets/images/angularJS_min.png" alt="AngularJS" title="AngularJS" >AngularJS</td>
                <td>
                    <ai-star [rating]='3.5'></ai-star>
                </td>
            </tr>
            <tr>
                <td><img src="../assets/images/npm_min.png" alt="NPM" title="NPM" >NPM</td>
                <td>
                    <ai-star [rating]='3'></ai-star>
                </td>
            </tr>
            <tr>
                <td><img src="../assets/images/gulp_min.png" alt="Gulp" title="Gulp" style="height:70px; width:40px;">Gulp</td>
                <td>
                    <ai-star [rating]='3'></ai-star>
                </td>
            </tr>
            <tr>
                <td><img src="../assets/images/webpack_min.png" alt="Webpack" title="Webpack" style="width:120px;" >Webpack</td>
                <td>
                    <ai-star [rating]='3'></ai-star>
                </td>
            </tr>
            <tr>
                <td><img src="../assets/images/c_min.png" alt="C#" title="C#" >C#</td>
                <td>
                    <ai-star [rating]='3'></ai-star>
                </td>
            </tr>
            <tr>
                <td><img src="../assets/images/sql_min.png" alt="SQL" title="SQL">SQL</td>
                <td>
                    <ai-star [rating]='3'></ai-star>
                </td>
            </tr>
            <tr>
                <td><img src="../assets/images/net_min.png" alt="ASP.NET" title="ASP.NET">ASP.NET</td>
                <td>
                    <ai-star [rating]='2.4'></ai-star>
                </td>
            </tr>
        </tbody>
    </table>
</div>