<table class="table table-hover">
    <thead>
        <th>Design Skills</th>
        <th>Programming Skills</th>
        <th>Office Skills</th>
    </thead>
    <tbody>
        <tr>
            <td> Photoshop

            </td>
            <td> HTML<i class="fa fa-star" aria-hidden="true"></i></td>
            <td> MS Word</td>
        </tr>
        <tr>
            <td> Illustrator
                <span>       
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>    
                </span>
            </td>
            <td> CSS3
                <span>       
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>    
                </span>
            </td>
            <td> MS Excel</td>
        </tr>
        <tr>
            <td> Website Design
                <span>       
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>    
                </span>
            </td>
            <td> JavaScript
            </td>
            <td> MS Visio</td>
        </tr>
        <tr>
            <td> </td>
            <td> AngularJS</td>
            <td> MS Powerpoint</td>
        </tr>
        <tr>
            <td> </td>
            <td> NPM</td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td> Gulp</td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td> ASP.NET</td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td> C#</td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td> SQL</td>
            <td> </td>
        </tr>
    </tbody>

</table>