<div style="text-align:left">
    <h2>Dashboard</h2>
    <table class="table table-hover">
        <thead>
            <th class="col-md-1">Design Skills</th>
            <th class="col-md-2"></th>
            <th class="col-md-1">Programming Skills</th>
            <th class="col-md-2"></th>
            <th class="col-md-1">Office Skills</th>
            <th class="col-md-2"></th>
        </thead>
        <tbody>
            <tr>
                <td> Photoshop</td>
                <td class="grow">
                    <ai-star [rating]='3.5'></ai-star>
                </td>
                <td> HTML</td>
                <td>
                    <ai-star [rating]='3.5'></ai-star>
                </td>
                <td> MS Word</td>
                <td>
                    <ai-star [rating]='5'></ai-star>
                </td>
            </tr>
            <tr>
                <td> Illustrator</td>
                <td>
                    <ai-star [rating]='3.5'></ai-star>
                </td>
                <td> CSS3</td>
                <td>
                    <ai-star [rating]='3'></ai-star>
                </td>
                <td> MS Excel</td>
                <td>
                    <ai-star [rating]='4.5'></ai-star>
                </td>
            </tr>
            <tr>
                <td> Website Design</td>
                <td>
                    <ai-star [rating]='3.5'></ai-star>
                </td>
                <td> JavaScript</td>
                <td>
                    <ai-star [rating]='4'></ai-star>
                </td>
                <td> MS Visio</td>
                <td>
                    <ai-star [rating]='4.5'></ai-star>
                </td>
            </tr>
            <tr>
                <td> </td>
                <td></td>
                <td> AngularJS</td>
                <td>
                    <ai-star [rating]='4'></ai-star>
                </td>
                <td> MS Powerpoint</td>
                <td>
                    <ai-star [rating]='5'></ai-star>
                </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> NPM</td>
                <td>
                    <ai-star [rating]='3'></ai-star>
                </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> Gulp</td>
                <td>
                    <ai-star [rating]='3'></ai-star>
                </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> ASP.NET</td>
                <td>
                    <ai-star [rating]='2.4'></ai-star>
                </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> C#</td>
                <td>
                    <ai-star [rating]='3'></ai-star>
                </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> SQL</td>
                <td>
                    <ai-star [rating]='3'></ai-star>
                </td>
                <td> </td>
                <td> </td>
            </tr>
        </tbody>
    </table>
</div>