<section class="col-xs-12 col-sm-12 col-md-6 col-lg-4 portfolio-item">
  <a href="#" data-toggle="modal" data-target="#portfolioModal7">
    <div class="caption pulse">
      <div class="caption-content">
        <i class="fa fa-search-plus fa-3x"></i>
      </div>
    </div>
    <img class="img-responsive" src={{itemPicture}} alt="">
  </a>
</section>

<article class="modal fade" tabindex="-1" id="portfolioModal7" role="dialog">
  <div class="modal-dialog">
    <!--Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class="lr">
          <div class="rl"></div>
        </div>
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa fa-times fa-3x" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <h1>Neighborhood-map - ReactJS</h1>
        <hr class="star-primary">
        <img class="img-responsive img-centered" src='..\assets\images\maps.png' alt="" style="display:inline-block">
        <p>Designed and developed an interactive full-page map that loads with popular locations near North London. Integrated
          Foursquare API to show pictures and reviews of the best locations loaded in the map (retrieved by AJAX requests).
          Identified the best accessibility practices and implemented a mobile-first approach to improve usability.</p>
        <ul class="list-inline item-details">
          <li>Client:
            <strong>
              <a href="#">For the purpose of training and personal development.</a>
            </strong>
          </li>
          <li>Date:
            <strong>
              <a href="#">March 2018</a>
            </strong>
          </li>
          <li>Service:
            <strong>
              <a href="#">Web Development. Front end</a>
            </strong>
          </li>
        </ul>
        <button class="btn btn-success btn-lg" type="button" data-dismiss="modal">
          <i class="fa fa-times"></i>
          Close</button>
      </div>

    </div>
  </div>
</article>